<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Sorties cinéma</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="primary">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <app-message *ngFor="let movie of movies" [movie]="movie"></app-message>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Chargement...">
  </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>