<ion-item *ngIf="message" [detail]="false">
  <ion-label class="ion-text-wrap">
    <div class="flex-container">
      <img src="https://image.tmdb.org/t/p/w500/{{ message.poster_path }}" height="150px" />
      <div>
        <h2>
          {{ message.title }}
        </h2>
        <div class="date">
          <ion-note><span class="release-date">Date de sortie</span> : {{ message.release_date }}</ion-note>
          <ion-icon name="chevron-forward" size="small" *ngIf="isIos()"></ion-icon>
        </div>
        <div class="ion-item">
          <p>
            {{ message.overview }}
          </p>
        </div>
      </div>
    </div>
  </ion-label>
</ion-item>